.car { 
	margin-bottom: $layout-margin;

	font-size: 1rem;

	a { color: $color-black; }

	.photo {
		line-height: 1em;
	}

	.photo,
	.model,
	.date {
		display: block;

		&:before {
			display: none;
		}
	}

	.model { 
		font-size: 2em;
		font-weight: 600;
	}

	@include breakpoint(small) {
		.photo, 
		.model,
		.date {
			display: table-cell;
		}

		.photo img {
			height: 4em;
			width: 4em;
			min-width: 4em;
		}

		.model {
			&:before {
				display: block;	
			}
			
			font-size: 1em;
		}
	}
}