.nav {

}

.nav-main {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
 
	background: $color-black;

	color: $color-white;

	li {

	}

	li a { 
		display: inline-block;

		padding: 0.3em 0.6em;

		color: $color-white;
	}
}