/* Base */
// @import "compass/css3";
@import 'mixins/mixins';
@import 'mixins/breakpoints';

/* Theme */
@import 'theme/type';
@import 'theme/colors';
@import 'theme/variables';

@import 'base';

#tinymce {
	background: $color-white !important;

	margin: 0.5em;
	max-width: 600px;

	font-size: 0.9em;
}