/*-----------------------------------------------------------------------
Merkkleuren: 

*/


$color-first: #888; // grey
$color-second: #ccc; // grey

$color-succes: green;
$color-highlight: yellow;
$color-warning: orange;
$color-failure: red;

$color-white: #F9F9F9;
$color-black: #000;

$color-grey-10: #E9E9E9;
$color-grey-20: #CCC;
$color-grey-30: #999;
$color-grey-40: #888;
$color-grey-50: #777;
$color-grey-60: #666;
$color-grey-70: #555;
$color-grey-80: #444;
$color-grey-90: #333;

// SOCIAL COLORS (as found on http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/)
$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #007bb6;
$googleplus: #dd4b39;