$proxima-nova: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
$nimbus-sans: "nimbus-sans", Arial, sans-serif;
$georgia: Georgia, serif;

$grid-columns: 48;
$max-width: auto;

$layout-margin: 1rem;

$border-radius: 0.5rem;