.is-scaled {
	// position: relative; 

	// // Zoom effect transition
	// -webkit-transform-origin: center;
	// -moz-transform-origin: center;
	// -o-transform-origin: center;
	// transform-origin: center;

	// @include transition(all 0.15s ease);

	// &:hover, 
	// &:focus  {
	// 	// z-index: +1;

	// 	-webkit-transform: scale(1.025);
	// 	// -webkit-transform:rotate(-1.5deg);
	// 	-moz-transform: scale(1.025);
	// 	-o-transform: scale(1.025);
	// 	transform: scale(1.025);

	// 	@include transition(all 0.15s ease);

	// }
	// &:active {
	// 	z-index: +1;

	// 	-webkit-transform: scale(1.015);
	// 	-moz-transform: scale(1.015);
	// 	-o-transform: scale(1.015);
	// 	transform: scale(1.015);

	// 	@include transition(all 0.15s ease);
	// }
}