.l-tijdlijn { 
	a.more-link { 
		position: absolute; 
		bottom: 0; 
		right: 0;
		margin: 0;
		
		padding: 3px 5px; 
		background: #333;
		
		font-size: 14px; 
		line-height: 24px; 
		font-weight: bold; 
		color: #F9F9F9; 
		text-align: right; 
		text-decoration: none; 
		&:hover { 
			background: #006c90;
		}
	}
	img { 
		max-width: 230px; 
		height: auto;
		padding: 10px; 
		background: #E5E5E5; 
	}
	.entry img { 
		display: none; 
	} 

	.postmetadata { 
		margin: 0 0 3px;
	}
}