/* Base */
/* =========== Mixins */
/* Calculate fluid ratio based on two dimensions (width/height) */
/* Theme */
body {
  -webkit-font-smoothing: antialiased;
  /* Antialiased font for great smoothing */
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  /* Optimise legibility for some CSS3 kerning */ }

.wf-loading {
  visibility: hidden; }

.wf-active {
  visibility: visible; }

/*-----------------------------------------------------------------------
Merkkleuren: 

*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  width: 100%;
  margin: 0;
  margin-top: 2em;
  padding: 0;
  background: #F9F9F9;
  font-size: 1rem;
  font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  color: #000;
  /* Media queries */ }
  @media screen and (min-width: 520px) {
    body {
      font-size: 1.1rem; } }
  @media screen and (min-width: 780px) {
    body {
      font-size: 1.2rem; } }
  @media screen and (min-width: 1280px) {
    body {
      font-size: 1.3rem; } }

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: 600; }

h1 {
  margin-bottom: 2rem;
  font-size: 1.6emem;
  line-height: 1em; }
  h1 a {
    color: #ccc;
    transition: color 0.15s ease; }
    h1 a:hover, h1 a:focus {
      color: #a8a8a8; }
    h1 a:active {
      color: #7b7b7b; }

h1 a:hover {
  text-decoration: none; }

h2 {
  font-size: 1.2emem;
  line-height: 1em;
  margin-top: 2rem;
  margin-bottom: 1rem; }

h3 {
  font-size: 1.4emem;
  line-height: 1em;
  margin-top: 2rem;
  margin-bottom: 1rem; }

img, a img {
  max-width: 100%;
  height: auto;
  border: none; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

small {
  font-size: 0.75em; }

strong, b {
  font-weight: 600; }

em, i {
  font-style: italic; }

a {
  color: #888;
  text-decoration: none; }
  a:hover, a:focus {
    color: #a8a8a8;
    text-decoration: none; }
  a:active {
    color: #686868; }

ul, ul li, li {
  margin: 0;
  padding: 0;
  list-style: none; }

blockquote {
  margin: 1rem 0 1rem 1rem;
  padding-left: 1rem;
  border-left: 3px solid #000; }
  blockquote p {
    font-family: Georgia, serif;
    font-size: 1.4emem;
    line-height: 2.1emem;
    font-style: italic; }

*:focus {
  outline: none; }

*::-moz-focus-inner {
  border: none; }

::-moz-selection {
  background: #ccc;
  color: #000;
  text-shadow: none; }

::selection {
  background: #ccc;
  color: #000;
  text-shadow: none; }

iframe {
  max-width: 100%; }

/* WordPress classes */
.alignleft {
  float: left; }

.alignright {
  float: right; }

img.alignleft {
  float: left;
  margin: 0; }

img.alignright {
  float: right;
  margin: 0; }

img.aligncenter {
  display: block;
  margin: 0 auto; }

.home .vvqbox {
  max-width: 450px !important; }

/* HACKS */
.tzfix {
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0); }

#tinymce {
  background: #F9F9F9 !important;
  margin: 0.5em;
  max-width: 600px;
  font-size: 0.9em; }
